In [15]:
import pandas as pd
import numpy as np

flight_data="Data/flights/flight_data.csv"

data = pd.read_csv(flight_data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300261 entries, 0 to 300260
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   flight date  300261 non-null  object
 1   airline      300261 non-null  object
 2   flight_num   300261 non-null  object
 3   class        300261 non-null  object
 4   from         300261 non-null  object
 5   dep_time     300261 non-null  object
 6   to           300261 non-null  object
 7   arr_time     300261 non-null  object
 8   duration     300261 non-null  object
 9   price        300261 non-null  object
 10  stops        300261 non-null  object
 11  Unnamed: 11  0 non-null       float64
 12  Unnamed: 12  0 non-null       float64
dtypes: float64(2), object(11)
memory usage: 29.8+ MB

In [16]:
unique_from = sorted(data['from'].unique())
unique_to = sorted(data['to'].unique())

print("Unique values in 'from':", unique_from)
print("Unique values in 'to':", unique_to)

Unique values in 'from': ['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai']
Unique values in 'to': ['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai']

In [35]:
# flight_counts = data.groupby(['from', 'to']).size().reset_index(name='flight_count')
flight_counts = data.groupby(['from', 'to','flight date']).size().reset_index(name='flight_count')
print(flight_counts)

           from       to flight date  flight_count
0     Bangalore  Chennai  01-07-2023             8
1     Bangalore  Chennai  01-08-2023             8
2     Bangalore  Chennai  02-07-2023             8
3     Bangalore  Chennai  02-08-2023             8
4     Bangalore  Chennai  03-07-2023             8
...         ...      ...         ...           ...
1465     Mumbai  Kolkata  29-06-2023             8
1466     Mumbai  Kolkata  29-07-2023             8
1467     Mumbai  Kolkata  30-06-2023             8
1468     Mumbai  Kolkata  30-07-2023             8
1469     Mumbai  Kolkata  31-07-2023             8

[1470 rows x 4 columns]

In [38]:
import pandas as pd

# Load the data into a DataFrame
# file_path = 'path_to_your_csv_file.csv'  # Update this to your file path
# data = pd.read_csv(file_path, delimiter="\t")  # Assuming tab-separated values

# Step 1: Count the number of flights for each date and city pair
flight_counts = data.groupby(['flight date', 'from', 'to']).size().reset_index(name='flight_count')

# Step 2: Sample up to 8 random flights for each group (date and city pair)
def sample_flights(group):
    # If more than 8 flights, sample 8; otherwise, keep all
    return group.sample(n=min(len(group), 8), random_state=42)  # Random state for reproducibility

# Apply sampling group-wise
filtered_flights = data.groupby(['flight date', 'from', 'to'], group_keys=False).apply(sample_flights)

# Save the filtered flights to a new CSV file
output_path = 'filtered_flights_per_date.csv'
filtered_flights.to_csv(output_path, index=False)

print(f"Filtered flights saved to {output_path}")

Filtered flights saved to filtered_flights_per_date.csv

In [39]:
import pandas as pd
import numpy as np

filtered_flight_data="filtered_flights_per_date.csv"

filtered_data = pd.read_csv(filtered_flight_data)
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11747 entries, 0 to 11746
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   flight date  11747 non-null  object
 1   airline      11747 non-null  object
 2   flight_num   11747 non-null  object
 3   class        11747 non-null  object
 4   from         11747 non-null  object
 5   dep_time     11747 non-null  object
 6   to           11747 non-null  object
 7   arr_time     11747 non-null  object
 8   duration     11747 non-null  object
 9   price        11747 non-null  object
 10  stops        11747 non-null  object
 11  Unnamed: 11  0 non-null      float64
 12  Unnamed: 12  0 non-null      float64
dtypes: float64(2), object(11)
memory usage: 1.2+ MB

In [44]:
flight_counts = data.groupby(['from', 'to','flight date']).size().reset_index(name='flight_count')

In [45]:
import pandas as pd
import itertools
import random

# Load the data into a DataFrame
file_path = 'filtered_flights_per_date.csv'  # Update this to your file path
data = pd.read_csv(file_path)  # Assuming tab-separated values

# Step 1: Find the pair of cities with the minimum number of days when flights exist
city_pair_days = data.groupby(['from', 'to'])['flight date'].nunique().reset_index(name='days')
min_days = city_pair_days['days'].min()
min_pair = city_pair_days[city_pair_days['days'] == min_days]

print(f"The city pair with the minimum days is:\n{min_pair}")
print(f"The minimum number of days is: {min_days}")

# Step 2: Add 6 new cities
new_cities = ['Ahmedabad', 'Jaipur', 'Pune', 'Bhubaneswar', 'Goa', 'Chandigarh']

# Combine the old cities and new cities
unique_from = ['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai'] + new_cities
unique_to = ['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai'] + new_cities

# Step 3: Generate new flight data for all the pairs (old + new cities)
all_city_pairs = list(itertools.product(unique_from, unique_to))

# Exclude existing city pairs
existing_pairs = data.groupby(['from', 'to']).size().reset_index()[['from', 'to']]
existing_pairs_set = set(zip(existing_pairs['from'], existing_pairs['to']))
missing_pairs = [pair for pair in all_city_pairs if pair not in existing_pairs_set]

# Generate new flights for missing pairs
new_flights = []
dates = pd.date_range(start="2023-06-01", periods=min_days, freq='D').strftime('%d-%m-%Y')

for from_city, to_city in missing_pairs:
    for date in dates:
        for _ in range(8):  # Ensure at least 8 flights per date
            new_flights.append({
                'flight date': date,
                'airline': random.choice(['SpiceJet', 'AirAsia', 'Vistara', 'GO FIRST']),
                'flight_num': f"{random.choice(['SG', 'I5', 'UK', 'G8'])}-{random.randint(1000, 9999)}",
                'class': 'economy',
                'from': from_city,
                'dep_time': f"{random.randint(0, 23):02d}:{random.randint(0, 59):02d}",
                'to': to_city,
                'arr_time': f"{random.randint(0, 23):02d}:{random.randint(0, 59):02d}",
                'duration': f"{random.randint(1, 3):02d}h {random.randint(0, 59):02d}m",
                'price': random.randint(5000, 12000),
                'stops': random.choice(['non-stop', '1-stop'])
            })

# Step 4: Combine old and new data
new_flights_df = pd.DataFrame(new_flights)
combined_data = pd.concat([data, new_flights_df], ignore_index=True)

# Save the combined data to a new CSV
output_path = 'complete_flight_data_with_new_cities.csv'
combined_data.to_csv(output_path, index=False)

print(f"Complete data with new flights saved to {output_path}")

The city pair with the minimum days is:
         from         to  days
0   Bangalore    Chennai    49
1   Bangalore      Delhi    49
2   Bangalore  Hyderabad    49
3   Bangalore    Kolkata    49
4   Bangalore     Mumbai    49
5     Chennai  Bangalore    49
6     Chennai      Delhi    49
7     Chennai  Hyderabad    49
8     Chennai    Kolkata    49
9     Chennai     Mumbai    49
10      Delhi  Bangalore    49
11      Delhi    Chennai    49
12      Delhi  Hyderabad    49
13      Delhi    Kolkata    49
14      Delhi     Mumbai    49
15  Hyderabad  Bangalore    49
16  Hyderabad    Chennai    49
17  Hyderabad      Delhi    49
18  Hyderabad    Kolkata    49
19  Hyderabad     Mumbai    49
20    Kolkata  Bangalore    49
21    Kolkata    Chennai    49
22    Kolkata      Delhi    49
23    Kolkata  Hyderabad    49
24    Kolkata     Mumbai    49
25     Mumbai  Bangalore    49
26     Mumbai    Chennai    49
27     Mumbai      Delhi    49
28     Mumbai  Hyderabad    49
29     Mumbai    Kolkata    49
The minimum number of days is: 49
Complete data with new flights saved to complete_flight_data_with_new_cities.csv

In [46]:
unique_from = sorted(combined_data['from'].unique())
unique_to = sorted(combined_data['to'].unique())

print("Unique values in 'from':", unique_from)
print("Unique values in 'to':", unique_to)

Unique values in 'from': ['Ahmedabad', 'Bangalore', 'Bhubaneswar', 'Chandigarh', 'Chennai', 'Delhi', 'Goa', 'Hyderabad', 'Jaipur', 'Kolkata', 'Mumbai', 'Pune']
Unique values in 'to': ['Ahmedabad', 'Bangalore', 'Bhubaneswar', 'Chandigarh', 'Chennai', 'Delhi', 'Goa', 'Hyderabad', 'Jaipur', 'Kolkata', 'Mumbai', 'Pune']